
h6{
    color: rgb(84, 109, 114);
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 5px 10px;
    display: flex;
}
h2{
    display: flex;
 font-family:Arial, Helvetica, sans-serif
}

.main-container{
margin-left: 200px;
width: 500px;
}
.form-container label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family:  sans-serif;
}
.form-container input{
    width: 70%;
    color: rgb(199, 247, 253); ;
    padding: 5px 5px;
    border-radius: 8px;
    outline: none;
    border: 1px solid  rgb(167, 206, 214);
    margin-bottom: 10px;
    background-color:#F6F8FA; ;
 
}
#warning-p{
    font-size: small;
}
#link-learn{
    font-size: small;
    text-decoration: none;
    margin-top: 50px;
  
}
h4{
    font-weight: 600;
    margin-bottom: 10px;
}
.form-container2 label{
    font-size: 15px;
}
.form-container2 button{
    align-content: center;
    align-items: center;
    display: block;
    margin-top: 10px;
    color: white;
    background-color: rgb(216, 232, 232);
    padding: 10px 10px;
    width: 70%;
    border-radius: 8px;
    border:none;
}
.footer{
    font-size: small;
}
#footer{
    text-decoration: none;
}